<h1>Editing wiki post</h1>

<%= form_with model: @wiki_post, local: true do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :description %>
    <%= form.text_field :description %>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>
  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Show this wiki post", @wiki_post %> |
  <%= link_to "Back to Posts", wiki_posts_path %>
</div>
<%= button_to "Destroy this Post", @wiki_post, method: :delete %>
